@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center" style="padding: 20px;">@ViewData["Title"]</h2>

<div class="centered-rows row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h3 class="text-center">Create a new account</h3>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                      <button type="submit" class="btn btn-success btn-lg custom-button">Register</button>
                  </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
